body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 30px;
}

a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #0056b3;
}
